@import "tailwindcss";

@theme {
  --color-green1: #1ed760;
  --color-green2: #95ffe1;
  --color-green3: #0c9b7d;
  --color-green3: #90ee90;
  --color-green4: #b3e1ca;
  --color-turquoise1: #daf4f0;
  --color-turquoise2: #70e2ff;
  --color-turquoise3: #0e70ad;
  --color-blue1: #add8e6;
  --color-blue2: #1f87ff;
  --color-blue3: #143bff;
  --color-blue4: #030825;

  --font-quango: "Quango", sans-serif;
}